@import "../../styles/base.scss";

.nav {
  width: 100vw;
  height: 72px;
  padding: 6px 16px 0 16px;
  background: rgba($white, 0.95);
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;

  @include tablet-view() {
    padding: 10px 50px;
  }

  &__logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  &__burger {
    background: none;
    border: none;
    cursor: pointer;

    @include tablet-view() {
      display: none;
    }
  }
}

.burger {
  width: 320px;
  height: 72px;
  position: fixed;
  top: 0;
  right: 0;
  background: $black;
}